body{
  font-family: Arial, Helvetica, sans-serif;
}

div {
  margin: auto;
}

h2 {
  text-align: center;
}

#job-table {
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse;
}

.jobs-header-row th{
  border: 1px solid gray;
  padding: 8px;
  background-color: lightgray;
  text-align: left;
}

.jobs-data-row td {
  border-right: 1px solid gray;
  padding: 8px;
}

#job-table tr:nth-child(odd) {
  background-color: rgb(206, 219, 230);
}

.time_table_div {
  margin: auto;
  width: 100%;
}

#time_table_ {
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse;
}

.title_row th {
  border: 1px solid gray;
  background-color: rgb(54, 54, 54);
  padding: 6px;
}

.day_row th{
  border: 1px solid gray;
  background-color: lightgray;
  text-align: left;
  padding: 6px;
}

.subject_data_row td{
  border: 1px solid gray;
  padding: 6px;

}

#formated_application_ {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px 16px;
  background-color: aliceblue;
}

#formated_application_ div {
  margin-top: 1%;
}

#formated_application_ label {
  font-weight: 600;
}

#formated_application_ input {
  padding: 4px;
  font-size: 1.25rem;
  margin-top: 0.5%;
  border-radius: 5px;
  border: 1px solid gray
}

#formated_application_ select, textarea {
  padding: 8px;
  font-size: 1.25rem;
  margin-top: 0.5%;
  border-radius: 5px;
  border: 1px solid gray
}

#formated_application_ textarea {
  width: 90%;
}

#formated_application_ input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

#formated_application_input[type="submit"] {
  cursor: pointer;
}

#date_of_birth_ {
  font-family: Arial, Helvetica, sans-serif;
}