body {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffffff;
  font-family: "Libre Caslon Display", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
}

h2 {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 78px 32px;
}

h3 {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

#page-main {
  margin: 0px auto;
  max-width: 1440px;
  padding: 0px;
}

#hero {
  background-image: url('../data/Background.png');
  background-repeat: no-repeat;
  background-position: calc(50%);

  height: 1024px;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}

#topnav-bar {
  display: flex;
  justify-content: space-between;
  padding: 32px 27px 32px 23px;
}

.home-menu {
  color: #ffffff;
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 40%;
  opacity: 95%;
  padding: 0px 0px;
  position: fixed;
  right: 100vw;
  top: 0px;
  width: 60%;
}

.home-menu.active {
  right: 0;
}

.home-menu-icon {
  width: 35px;
  height: 35px;
}

.home-menu-icon.active {
  display: none;
}

.menu-link {
  margin: 16px 16px;
}

.web-button {
  background: none;
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 16px 13px;
  text-align: center;

  width: 153px;
  height: 42px;
}

.close-menu {
  display: block;
  background: none;
  border: none;
  padding: 0;
  margin-top: 32px;
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: 27px;
  height: 35px;
  width: 35px;
}

#hero-content {
  display: flex;
  flex-direction: column;
  margin: 184px 32px;
  max-width: 314px;
}

#learn-more-button {
  margin: 16px 0px;

}

#blank-rectangle {
  background-color: #ffffff;
  width: 90px;
  height: 15px;
}

/* Content */
#content-section {
  max-width: 1440px;
  margin: 0px auto;
}

.news-boxes {
  margin: 32px 32px;
  margin-top: 78px;
  margin-bottom: 46px;
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.image {
  height: 352px;
  width: 100%;
}

.subtitle {
  color: #B7B7B7;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin: 35px 0px;
  text-align: left;
  padding: 0px 16px;
}

.link {
  color: #D9852C;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 18.15px;
  margin: 18px 0px;
  margin-left: auto;
  text-align: left;
  width: fit-content;
}

@media (min-width: 600px) {
  h1 {
    font-family: "Libre Caslon Display", sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 87px;
    text-align: left;
  }

  h2 {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
  }

  h3 {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
  }

  #hero-content {
    max-width: 600px;
    margin-left: 72px;
  }

  .news-boxes {
    flex-direction: row;
  }

  .box {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-family: "Libre Caslon Display", sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 99px;
  }

  h2 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
  }

  h3 {
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
  }

  #hero-content {
    max-width: 748px;
  }

  #hero-description {
    max-width: 548px;
  }

  .news-boxes {
    flex-direction: row;
  }

  .home-menu-icon {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .home-menu {
    color: #ffffff;
    background-color: #ffffff00;
    display: flex;
    flex-direction: row;
    height: 42px;
    margin-left: 0px;
    opacity: 100%;
    padding: 0px 0px;
    position: inherit;
    right: auto;
    top: auto;
    width: auto;
  }

  .menu-link {
    color: #ffffff;
  }
}